body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #515151;
    overflow: hidden;
}

/* Box styling */

#fullscreenToggle {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background: rgba(51, 51, 51, 30);
    border-radius: 4px;
    display: inline-block;
    color: #eee;
    cursor: pointer;
    line-height: 0;
}

#fullscreenToggle img {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0.5rem;
    opacity: 0.4;
}

#renderCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    touch-action: none;
}

.measurementLabel {
    position: absolute;
    right: 8px;
    font: 1rem Consolas;
    color: #DCDCDC;
}

#fpsLabel {
    top: calc(8px);
}

#pingLabel {
    top: calc(8px + 1rem);
}
