body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #515151;
    overflow: hidden;
}

/* Box styling */

#fullscreenToggle {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background: rgba(51, 51, 51, 30);
    border-radius: 4px;
    display: inline-block;
    color: #eee;
    cursor: pointer;
    line-height: 0;
}

#fullscreenToggle img {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0.5rem;
    opacity: 0.4;
}

#renderCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    touch-action: none;
}

.no-select {
    user-select: none;
}

.measurementLabel {
    position: absolute;
    right: 8px;
    font: 1rem Consolas;
    user-select: none;
    color: #DCDCDC;
}

#fpsLabel {
    top: calc(8px);
}

#pingLabel {
    top: calc(8px + 1rem);
}

#healthLabel {
    top: calc(8px + 2rem);
}

#frameDropLabel {
    top: calc(8px + 3rem);
}

#delayValueLabel {
    top: calc(8px + 5rem);
}

#extrapolationValueLabel {
    top: calc(8px + 7rem);
}

.overlay {
    background-color: rgba(234, 32, 39,0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.hidden {
    display: none;
}

.center {
    text-align: center;

    width: 300px;
    height: 100px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -70px 0 0 -170px;
}

.killText {
    font-family: Butcherman;
    font-size: 2em;
}

/* Sliders */

.frameDropSliderContainer {
    position: absolute;
    right: 8px;
    width: 100px;
    top: calc(8px + 4rem);
}

.slider {
    -webkit-appearance: none; 
    width: 100%;
    height: 10px; 
    background: #d3d3d3; 
    outline: none;
}

.slider::-webkit-slider-thumb {
    width: 15px; 
    height: 15px; 
    cursor: pointer;
}

.delaySliderContainer {
    position: absolute;
    right: 8px;
    width: 100px;
    top: calc(8px + 6rem);
}

.extrapolationSliderContainer {
    position: absolute;
    right: 8px;
    width: 100px;
    top: calc(8px + 8rem);
}